@model WebApplication1.Models.HeroModel

@{
    ViewBag.Title = "Hero Stats";
}

<h2>Details</h2>

<div>
    <h4>HeroModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.heroName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.heroName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primaryAttribute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primaryAttribute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ranged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ranged)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.baseAgi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.baseAgi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.baseStr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.baseStr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.baseInt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.baseInt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgiGain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgiGain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrGain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrGain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntGain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntGain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.baseSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.baseSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.baseDamage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.baseDamage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.baseArmor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.baseArmor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
